@import "~office-ui-fabric-react/dist/sass/References.scss";

.teamForm {
	.title {
		@include ms-font-xl;
		@include ms-fontColor-white;
	}

	h1 {
		@include ms-font-xl;
		@include ms-fontColor-white;
		font-weight: 300;
	}

	.flex {
		margin-top: 0;
		display: flex;
		align-items: center;
		width: 100%;

		&:last-of-type {
			margin-bottom: 50px;
		}

		p {
			display: flex;

			div {
				width: 100%;
			}
		}

		p:first-of-type {
			margin: 5px 0;
		}

		p:last-of-type {
			margin-left: 20px;
			flex-grow: 1;

			&.paddingTop {
				padding-top: 10px;

				label {
					color: white;
				}
			}
		}

		i {
			color: #d7dbd8;
		}

		a {
			color: #d7dbd8;

			&:hover {
				opacity: 0.7;
			}
		}
	}

	.picker {
		margin-top: -15px;

		label {
			color: white;
			font-weight: lighter;

			&::after {
				font-weight: bold;
			}
		}

		> div > div > div > div {
			background: white;
		}
	}

	.save {
		position: absolute;
		bottom: 0px;
		right: 0px;
	}
	.cancel {
		position: absolute;
		bottom: 0px;
		right: 135px;
	}
}

.loadingIndicator {
	background: url(https://c.tenor.com/I6kN-6X7nhAAAAAj/loading-buffering.gif)
		5px no-repeat;
	height: 30px;
	position: relative;
	margin-top: -31px;
	width: 100%;
	background-size: contain;
}
