@import "~office-ui-fabric-react/dist/sass/References.scss";

.teamCard {
	margin-top: 25px;

	h1 {
		@include ms-font-xl;
		@include ms-fontColor-white;
		font-weight: 300;
	}

	.title {
		@include ms-font-xl;
		@include ms-fontColor-white;
	}

	.members {
		display: flex;
		flex-wrap: wrap;
		margin-bottom: 15px;
	}

	.flex {
		margin-top: 0;
		display: flex;
		align-items: center;

		&:last-of-type {
			margin-bottom: 50px;
		}

		p:first-of-type {
			margin: 5px 0;
		}

		p:last-of-type {
			margin-left: 20px;

			a {
				color: white !important;

				&:hover {
					opacity: 0.7;
				}
			}

			&.paddingTop {
				padding-top: 10px;

				label {
					color: white;
				}
			}
		}

		i {
			color: #d7dbd8;
		}

		a {
			color: #d7dbd8;

			&:hover {
				opacity: 0.7;
			}
		}
	}

	.column {
		flex-direction: column;
	}

	.edit {
		position: absolute;
		bottom: 0px;
		right: 0px;
	}

	.switch {
		margin-top: -20px;

		&:first-of-type {
			margin-top: -10px;
		}
	}
}
